<section id="about">

   <div class="row section-head">

      <div class="col one-fourth">
         <h2>About Us</h2>
         <p class="desc">In short we are a high quality, professional training establishment.</p>
      </div>

     <div class="col three-fourths">
       <p class="intro"> Master Accounting Training is the professional training body specialized in CPA professional
         level training. All the trainers are CPA qualified accountants with years of local and international working
         experience in both commercial and public practice.

         We understand it is not easy to cope with study and work at the same time; so, we are here to help you to
         maximize the efficiency and chances of achieving outstanding results in CPA exam. Our trainers are awarded
         CPA certificate of Merits in various courses. They are familiar with the structure of the exams and will
         help you to be confident with the exams!</p>
     </div>

   </div>

   <div class="row">
      <div class="col full"><h3>Our Work Process.</h3></div>
   </div>

   <div class="row process-wrap">

      <div class="col">
         <h4>Frequent analysis.</h4>

         <p>We frequently anaylise the changes that occur in CPA and update our training literature and course curriculum
           accordingly. Apart from continuous updates related to courses we also look into the changes in general training
           practices followed within accounting academia.</p>
</div>

      <div class="col">
         <h4>Literature design.</h4>

         <p>We put in enormous amount of effort to design our training material and to tailor it to ever changing need
           of our students and clients. We believe that one of the key factors that directly impacts the performance of students is
           training lietrature so, we normally take a perfectionist approach in designing and mainntaining our training material.
         </p>
</div>

      <div class="col m-first">
         <h4>Develop.</h4>

         <p>We develop our training methodologies in a way that they provide deep understanding of various CPA courses
           that we offer. A key aspect is the way in which we have been evolving with change keeping our core training
           methodological ideal in sync.</p>
</div>

      <div class="col">
         <h4>Deliver.</h4>

         <p>One of the crusial aspects of any training activity is the way its devlivered; everything else is just a
           catalyst wether it be trainig material or the years of experience that our trainers hold. So, we train our
           trainers, change our methodology based on feedback, performance of our students and based on gap analysis.</p>
</div>

   </div> <!-- Process Wrap End -->

   <!--<div class="row">-->
      <!--<div class="col full"><h3>Meet The Team.</h3></div>-->
   <!--</div>-->


   <!--&lt;!&ndash; Team Wrap End &ndash;&gt;-->
   <!--<div class="row team-wrap">-->

      <!--<div class="col one-fourth">-->

         <!--<img src="assets/team/team-img-01.jpg" alt=""/>-->

         <!--<div class"member-name">-->
            <!--<h5>Selina Wei Si</h5>-->
            <!--<span>Director</span>-->
         <!--</div>-->

         <!--<ul class="member-social">-->
            <!--<li><a href="#"><%= fa_icon "facebook" %></a></li>-->
            <!--<li><a href="#"><%= fa_icon "twitter" %></a></li>-->
            <!--<li><a href="#"><%= fa_icon "google-plus" %></a></li>-->
            <!--<li><a href="#"><%= fa_icon "linkedin" %></a></li>-->
            <!--<li><a href="#"><%= fa_icon "skype" %></a></li>-->
         <!--</ul>-->

<!--</div>-->

      <!--<div class="col one-fourth">-->

         <!--<img src="assets/team/team-img-02.jpg" alt=""/>-->

         <!--<div class"member-name">-->
            <!--<h5>Tina</h5>-->
            <!--<span>Director</span>-->
         <!--</div>-->

         <!--<ul class="member-social">-->
           <!--<li><a href="#"><%= fa_icon "facebook" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "twitter" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "google-plus" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "linkedin" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "skype" %></a></li>-->
         <!--</ul>-->

<!--</div>-->

      <!--<div class="col one-fourth">-->

         <!--<img src="assets/team/team-img-03.jpg" alt=""/>-->

         <!--<div class"member-name">-->
            <!--<h5>Selina 2</h5>-->
            <!--<span>Senior CPA faculty</span>-->
         <!--</div>-->

         <!--<ul class="member-social">-->
           <!--<li><a href="#"><%= fa_icon "facebook" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "twitter" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "google-plus" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "linkedin" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "skype" %></a></li>-->
         <!--</ul>-->

<!--</div>-->

      <!--<div class="col one-fourth">-->

         <!--<img src="assets/team/team-img-03.jpg" alt=""/>-->

         <!--<div class"member-name">-->
            <!--<h5>Selina 3</h5>-->
            <!--<span>CPA faculty</span>-->
         <!--</div>-->

         <!--<ul class="member-social">-->
           <!--<li><a href="#"><%= fa_icon "facebook" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "twitter" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "google-plus" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "linkedin" %></a></li>-->
           <!--<li><a href="#"><%= fa_icon "skype" %></a></li>-->
         <!--</ul>-->

<!--</div>-->

   <!--</div> &lt;!&ndash; Team Wrap End &ndash;&gt;-->

   <!-- Testimonials -->
   <div class="row">

      <div class="col full section-head">
         <h2>Testimonials</h2>
         <p class="desc">We have happy students.</p>
      </div>

   </div>

   <div class="row testimonials">

      <div class="col half">

         <div class="client-author">
            <img src="assets/client-img.png" alt="" />
            <div class="name">
               <p>Jack Chen<span>CPA Studnet</span></p>
            </div>
         </div>

     <div class="client-cite">
      <p>Thank you, Master Accounting! I was able to pass all four parts of the CPA exams just because of the thouroghness of the trainign program.
           The study plan definitely works.</p>
     </div>

      </div>

      <div class="col half">

         <div class="client-author">
            <img src="assets/client-img.png" alt="" />
            <div class="name">
               <p>Lucy Liu<span>Financial Reporting training</span></p>
            </div>
         </div>

     <div class="client-cite">
      <p>I was very apprehensive of CPA because of the work pressure and the fact that my exam date was getting
           closer but I guess that brought me into Matser Accounting and now I am glad that I have done well. Thanks again.</p>
     </div>

      </div>

   </div> <!--  Testimonials End-->


</section>