<section id="courses">

   <div class="row section-head">

      <div class="col one-third">
         <h2>Courses</h2>
         <p class="desc">Here are all the courses we offer.</p>
      </div>

      <div class="col two-thirds">
         <div class="intro">
          <p>A list of all the segments of our training courses, their structure/duration and fee details. You can contact us anytime for
            detailed info or if you have have any questions about training programs they wahy they are delivered, etc.
           </p>
         </div>
      </div>

   </div>

   <div class="row">

      <div class="courses-wrapper">

        <div class="col">
          <h2><%= fa_icon "search", text: "CPA - Advance Audit and Assurance"%></h2>
          <ul>
            <li>Course Span: 5 sessions 4 hours per session.</li>
            <li>Our price: $495 Class or <span>$395<span> Online</li>
          </ul>
        </div>

         <div class="col">
            <h2><%= fa_icon "superscript", text: "CPA - Advanced Taxation"%></h2>
           <ul>
             <li>Course Span: 5 sessions 4 hours per session.</li>
             <li>Our price: $595 Class or <span>$495<span> Online</li>
           </ul>
         </div>

         <div class="col m-first">
            <h2><%= fa_icon "gavel", text: "CPA - Ethics and Governance"%></h2>
           <ul>
             <li>Course Span: 4 sessions 3 hours per session.</li>
             <li>Our price: $495 Class or <span>$395<span> Online</li>
           </ul>
         </div>

         <div class="col first">
            <h2><%= fa_icon "book", text: "CPA - Financial Reporting"%></h2>
           <ul>
             <li>Course Span: 5 sessions 4 hours per session.</li>
             <li>Our price: $595 Class or <span>$495<span> Online</li>
           </ul>
         </div>

         <div class="col m-first">
            <h2><%= fa_icon "umbrella", text: "CPA - Financial Risk Management"%></h2>
           <ul>
             <li>Course Span: 5 sessions 3 hours per session.</li>
             <li>Our price: $495 Class or <span>$395<span> Online</li>
           </ul>
         </div>

         <div class="col">
            <h2><%= fa_icon "globe", text: "CPA - Global Strategy and Leadership"%></h2>
           <ul>
             <li>Course Span: 4 sessions 3 hours per session.</li>
             <li>Our price: $495 Class or <span>$395<span> Online</li>
           </ul>
         </div>

        <div class="col m-first">
           <h2><%= fa_icon "credit-card", text: "CPA - Strategic Management Accounting"%></i></h2>
          <ul>
            <li>Course Span: 5 sessions 3 hours per session.</li>
            <li>Our price: $495 Class or <span>$395<span> Online</li>
          </ul>
        </div>

        <div class="col m-first">
           <h2><%= fa_icon "clock-o", text: "Timeframe"%></h2>
            <ul>
              <li>Registration starts: NOW</li>
              <li>Course starts: <span>16th March</span></li>
              <li>Time: Sundays. </li>
            </ul>
        </div>

      </div> <!-- Courses-Wrapper End -->

   </div> <!--end row -->

</section>
