<section id="register">

   <div class="row section-head">
      <div class="col full">

         <h2>Register</h2>
         <p class="desc">Fast, easy and simple registration process. Just fill in your details and press submit.</p>

         <p class="intro">Register now to win the opportunity of internship to gain local working experience! Once you register we will persoanlly contact you to finalise your registration.</p>

      </div>
   </div>
  <div class="row">

     <div class="col g-7">
      <div><%= flash[:message] %></div>
        <!-- form -->
       <%= form_tag('register', method: :post)%>
         <fieldset>

           <div>
             <%= label_tag(:name, "Name") %>
             <%= text_field_tag(:name, nil, :required => true) %>
           </div>
           <div>
             <%= label_tag(:email, "Email") %>
             <%= email_field_tag(:email, nil, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' ) %>
           </div>
           <div>
             <%= label_tag(:mobile, "Mobile") %>
             <%= text_field_tag(:mobile, nil, :required => true) %>
           </div>

           <div>
             <%= label_tag(:email, "Promocode") %>
             <%= text_field_tag(:promocode) %>
           </div>

           <div>
             <%= label_tag(:type, "Type of course") %>
             <%= select_tag 'type', options_for_select(['In Class', 'Online']) %>
           </div>

           <div>
             <% courses = ['advance_audit_and_assurance', 'advanced_taxation',
                           'ethics_and_governance', 'financial_reporting',
                           'financial_risk_management', 'global_strategy_and_leadership',
                           'strategic_management_accounting'] %>
             <%= label_tag(:courses, "Course") %>
             <ul>
               <% courses.each do |course| %>
                 <li>
                   <%= check_box_tag('courses[]', course) %>
                   <%= course.humanize %>
                 </li>
               <% end %>
             </ul>
           </div>

           <div>
             <%= label_tag(:find_us, "How did you find us?") %>
             <%= select_tag 'find', options_for_select(['Google', 'Print Media', 'English Social Media', 'Chinese Social Media', 'Flyers', 'Friends', 'Others']), prompt: 'Please select' %>
           </div>

           <div>
             <%= label_tag(:fluency, "Which language are you fluent in?") %>
             <%= text_field_tag(:fluency, nil, :required => true) %>
           </div>

           <div>
             <button class="submit">Submit</button>
                 <span id="image-loader">
                    <img src="assets/loader.gif" alt=""/>
                 </span>
           </div>

	</fieldset>
</form> <!-- Form End -->


     </div>

  </div>

</section>
