   <header class="mobile">

      <div class="row">

         <div class="col full">

            <div class="logo">
               <!--<a href="#"><img alt="" src="assets/master_accounting_logo.jpg"></a>-->
               <a href="#">Master Accounting</a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">
	               <li><a href="#intro">Home</a></li>
	               <li><a href="#courses">Courses</a></li>
	               <li><a href="#portfolio">Register</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#contact">Contact</a></li>
               </ul>

            </nav>

         </div>

      </div>

   </header> <!-- Header End -->


   <!-- Intro Section
   ================================================== -->
   <section id="intro">

      <!-- Flexslider Start-->
	   <div id="intro-slider" class="flexslider">

		   <ul class="slides">

			   <!-- Slide -->
			   <li>
				   <div class="row">
					   <div class="col full">
						   <div class="slider-text">
							   <h2>Welcome to <span>Master Accounting</span>. We specialize in CPA professional training.</h2>
							   <p>Affordable training by highly qualified accountants with years of local and international experience.</p>
						   </div>
					   </div>
				   </div>
			   </li>

            <!-- Slide -->
			   <li>
				   <div class="row">
					   <div class="col full">
						   <div class="slider-text">
							   <h2>Take a look at some of <a href="#portfolio" title="">our courses</a> and <a href="#contact" title="">register today.</a></h2>
							   <p>Our trainers are awarded CPA certificate of Merits in various courses. Get in touch if you need more information or if you have any questions.</p>
						   </div>
					   </div>
				   </div>
			   </li>

		   </ul>
	   </div>
	   <!-- Flexslider End-->

   </section> <!-- Intro Section End-->


   <!-- courses Section
   ================================================== -->
   <section id="courses">

      <div class="row section-head">

         <div class="col one-third">
            <h2>Courses</h2>
            <p class="desc">Here are all the courses we offer.</p>
         </div>

         <div class="col two-thirds">
            <div class="intro">
             <p>A list of all the segments of our training courses, their structure/duration and fee details. You can contact us anytime for
               detailed info or if you have have any questions about training programs they wahy they are delivered, etc.
              </p>
            </div>
         </div>

      </div>

      <div class="row">

         <div class="courses-wrapper">

           <div class="col">
             <h2><%= fa_icon "search", text: "CPA - Advance Audit and Assurance"%></h2>
             <ul>
               <li>Course Span: 5 sessions.</li>
               <li>Price at Vicki: $595</li>
               <li>Our price: $495 Class or <span>$395<span> Online</li>
             </ul>
           </div>

            <div class="col">
               <h2><%= fa_icon "superscript", text: "CPA - Advanced Taxation"%></h2>
              <ul>
                <li>Course Span: 6 sessions.</li>
                <li>Price at Vicki: $795</li>
                <li>Our price: $595 Class or <span>$495<span> Online</li>
              </ul>
            </div>

            <div class="col m-first">
               <h2><%= fa_icon "gavel", text: "CPA - Ethics and Governance"%></h2>
              <ul>
                <li>Course Span: 4 sessions.</li>
                <li>Price at Vicki: $595</li>
                <li>Our price: $495 Class or <span>$395<span> Online</li>
              </ul>
            </div>

            <div class="col first">
               <h2><%= fa_icon "book", text: "CPA - Financial Reporting"%></h2>
              <ul>
                <li>Course Span: 7 sessions.</li>
                <li>Price at Vicki: $795</li>
                <li>Our price: $595 Class or <span>$495<span> Online</li>
              </ul>
            </div>

            <div class="col m-first">
               <h2><%= fa_icon "umbrella", text: "CPA - Financial Risk Management"%></h2>
              <ul>
                <li>Course Span: 5 sessions.</li>
                <li>Price at Vicki: $595</li>
                <li>Our price: $495 Class or <span>$395<span> Online</li>
              </ul>
            </div>

            <div class="col">
               <h2><%= fa_icon "globe", text: "CPA - Global Strategy and Leadership"%></h2>
              <ul>
                <li>Course Span: 4 sessions.</li>
                <li>Price at Vicki: $595</li>
                <li>Our price: $495 Class or <span>$395<span> Online</li>
              </ul>
            </div>

           <div class="col m-first">
              <h2><%= fa_icon "credit-card", text: "CPA - Strategic Management Accounting"%></i></h2>
             <ul>
               <li>Course Span: 5 sessions.</li>
               <li>Price at Vicki: $595</li>
               <li>Our price: $495 Class or <span>$395<span> Online</li>
             </ul>
           </div>

           <div class="col m-first">
              <h2><%= fa_icon "clock-o", text: "Timeframe"%></h2>
               <ul>
                 <li>Registration starts: NOW</li>
                 <li>Course starts: <span>15th Feb</span></li>
                 <li>Time frame: 3-6 hrs per session</li>
               </ul>
           </div>

         </div> <!-- Courses-Wrapper End -->

      </div> <!--end row -->

   </section> <!-- Courses Section End -->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">
         <div class="col full">

            <h2>Portfolio</h2>
            <p class="desc">Check out our latest projects.</p>

            <p class="intro">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            </p>

         </div>
      </div>

      <div class="row">

		   <!-- Portfolio Wrapper -->
		   <div id="portfolio-wrapper">

			   <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-01"><img src="assets/portfolio/cosmic-sneakers.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Cosmic Sneakers</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-02"><img src="assets/portfolio/milk-splash.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Milk Splash</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-03"><img src="assets/portfolio/eve.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Eve</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-04"><img src="assets/portfolio/sneaker-splash.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Sneaker Splash</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-05"><img src="assets/portfolio/judah.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Judah</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-06"><img src="assets/portfolio/vector-flower.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Vector Flower</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-07"><img src="assets/portfolio/clock.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Clock</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-08"><img src="assets/portfolio/fields.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Fields</a></h5>
					   </div>
               </div>
			   </div>

		   </div> <!-- Portfolio Wrapper End -->


		</div> <!-- End Row -->


      <!-- Modal Popup
	   =========================================================== -->

      <!-- modal-01 -->
	   <div id="modal-01" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-cosmic-sneakers.jpg" alt="" />

		   <div class="description-box">
			   <h4>The Cosmic Sneakers</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
		   </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div><!-- modal-01 End -->

      <!-- modal-02 -->
	   <div id="modal-02" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-milk-splash.jpg" alt="" />

		   <div class="description-box">
			   <h4>Milk Splash</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-02 End -->

      <!-- modal-03 -->
	   <div id="modal-03" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-eve.jpg" alt="" />

		   <div class="description-box">
			   <h4>Eve</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Photography, Branding</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-03 End -->

      <!-- modal-04 -->
	   <div id="modal-04" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-sneaker-splash.jpg" alt="" />

		   <div class="description-box">
			   <h4>Sneaker Splash</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Photography, Branding</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-04 End -->

      <!-- modal-05 -->
	   <div id="modal-05" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-judah.jpg" alt="" />

		   <div class="description-box">
			   <h4>Judah</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Photography, Web Design</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-05 End -->

      <!-- modal-06 -->
	   <div id="modal-06" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-vector-flower.jpg" alt="" />

		   <div class="description-box">
			   <h4>Vector Flower</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-06 End -->

      <!-- modal-07 -->
	   <div id="modal-07" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-clock.jpg" alt="" />

		   <div class="description-box">
			   <h4>Clock</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-07 End -->

      <!-- modal-08 -->
	   <div id="modal-08" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-fields.jpg" alt="" />

		   <div class="description-box">
			   <h4>Fields</h4>
			   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
            <span class="categories"><i class="icon-tag"></i>Photography</span>
         </div>

         <div class="link-box">
            <a href="http://www.behance.net">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-08 End -->

   </section> <!-- Portfolio End -->

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row section-head">

         <div class="col one-fourth">
            <h2>About Us</h2>
            <p class="desc">In short we are a high quality, professional training establishment.</p>
         </div>

        <div class="col three-fourths">
          <p class="intro"> Master Accounting Training is the professional training body specialized in CPA professional
            level training. All the trainers are CPA qualified accountants with years of local and international working
            experience in both commercial and public practice.

            We understand it is not easy to cope with study and work at the same time; so, we are here to help you to
            maximize the efficiency and chances of achieving outstanding results in CPA exam. Our trainers are awarded
            CPA certificate of Merits in various courses. They are familiar with the structure of the exams and will
            help you to be confident with the exams!</p>
        </div>

      </div>

      <div class="row">
         <div class="col full"><h3>Our Work Process.</h3></div>
      </div>

      <div class="row process-wrap">

         <div class="col">
            <h4>Frequent analysis.</h4>

            <p>We frequently anaylise the changes that occur in CPA and update our training literature and course curriculum
              accordingly. Apart from continuous updates related to courses we also look into the changes in general training
              practices followed within accounting academia.</p>
			</div>

         <div class="col">
            <h4>Literature design.</h4>

            <p>We put in enormous amount of effort to design our training material and to tailor it to ever changing need
              of our students and clients. We believe that one of the key factors that directly impacts the performance of students is
              training lietrature so, we normally take a perfectionist approach in designing and mainntaining our training material.
            </p>
			</div>

         <div class="col m-first">
            <h4>Develop.</h4>

            <p>We develop our training methodologies in a way that they provide deep understanding of various CPA courses
              that we offer. A key aspect is the way in which we have been evolving with change keeping our core training
              methodological ideal in sync.</p>
			</div>

         <div class="col">
            <h4>Deliver.</h4>

            <p>One of the crusial aspects of any training activity is the way its devlivered; everything else is just a
              catalyst wether it be trainig material or the years of experience that our trainers hold. So, we train our
              trainers, change our methodology based on feedback, performance of our students and based on gap analysis.</p>
			</div>

      </div> <!-- Process Wrap End -->

      <div class="row">
         <div class="col full"><h3>Meet The Team.</h3></div>
      </div>


      <!-- Team Wrap End -->
      <div class="row team-wrap">

         <div class="col one-fourth">

            <img src="assets/team/team-img-01.jpg" alt=""/>

            <div class"member-name">
               <h5>Selina Wei Si</h5>
               <span>Director</span>
            </div>

            <ul class="member-social">
               <li><a href="#"><%= fa_icon "facebook" %></a></li>
               <li><a href="#"><%= fa_icon "twitter" %></a></li>
               <li><a href="#"><%= fa_icon "google-plus" %></a></li>
               <li><a href="#"><%= fa_icon "linkedin" %></a></li>
               <li><a href="#"><%= fa_icon "skype" %></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-02.jpg" alt=""/>

            <div class"member-name">
               <h5>Tina</h5>
               <span>Director</span>
            </div>

            <ul class="member-social">
              <li><a href="#"><%= fa_icon "facebook" %></a></li>
              <li><a href="#"><%= fa_icon "twitter" %></a></li>
              <li><a href="#"><%= fa_icon "google-plus" %></a></li>
              <li><a href="#"><%= fa_icon "linkedin" %></a></li>
              <li><a href="#"><%= fa_icon "skype" %></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-03.jpg" alt=""/>

            <div class"member-name">
               <h5>Selina 2</h5>
               <span>Senior CPA faculty</span>
            </div>

            <ul class="member-social">
              <li><a href="#"><%= fa_icon "facebook" %></a></li>
              <li><a href="#"><%= fa_icon "twitter" %></a></li>
              <li><a href="#"><%= fa_icon "google-plus" %></a></li>
              <li><a href="#"><%= fa_icon "linkedin" %></a></li>
              <li><a href="#"><%= fa_icon "skype" %></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-03.jpg" alt=""/>

            <div class"member-name">
               <h5>Selina 3</h5>
               <span>CPA faculty</span>
            </div>

            <ul class="member-social">
              <li><a href="#"><%= fa_icon "facebook" %></a></li>
              <li><a href="#"><%= fa_icon "twitter" %></a></li>
              <li><a href="#"><%= fa_icon "google-plus" %></a></li>
              <li><a href="#"><%= fa_icon "linkedin" %></a></li>
              <li><a href="#"><%= fa_icon "skype" %></a></li>
            </ul>

			</div>

      </div> <!-- Team Wrap End -->

      <!-- Testimonials -->
      <div class="row">

         <div class="col full section-head">
            <h2>Testimonials</h2>
            <p class="desc">We have happy students.</p>
         </div>

      </div>

      <div class="row testimonials">

         <div class="col half">

            <div class="client-author">
               <img src="assets/client-img.png" alt="" />
               <div class="name">
                  <p>Wei Si<span>CPA Studnet</span></p>
               </div>
            </div>

		      <div class="client-cite">
			      <p>Thank you, Master Accounting! I was able to pass all four parts of the CPA exams just because of the thouroghness of the trainign program.
              The study plan definitely works.</p>
		      </div>

         </div>

         <div class="col half">

            <div class="client-author">
               <img src="assets/client-img.png" alt="" />
               <div class="name">
                  <p>Selina Si<span>Financial Reporting training</span></p>
               </div>
            </div>

		      <div class="client-cite">
			      <p>I was very apprehensive of CPA because of the work pressure and the fact that my exam date was getting
              closer but I guess that brought me into Matser Accounting and now I am glad that I have done well. Thanks again.</p>
		      </div>

         </div>

      </div> <!--  Testimonials End-->


   </section> <!-- About Section End-->

    <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">
         <div class="col full">
            <h2>Contact Us</h2>
            <p class="desc">Get in touch with us.</p>
         </div>
      </div>

      <div class="row">

         <div class="col g-7">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input name="contactName" type="text" id="contactName" size="35" value="" />
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input name="contactEmail" type="text" id="contactEmail" size="35" value="" />
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input name="contactSubject" type="text" id="contactSubject" size="35" value="" />
                  </div>

                  <div>
                     <label  for="contactMessage">Message <span class="required">*</span></label>
                     <textarea name="contactMessage"  id="contactMessage" rows="15" cols="50" ></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img src="assets/loader.gif" alt="" />
                     </span>
                  </div>

					</fieldset>
				</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
				<div id="message-success">
               <i class="icon-ok"></i>Your message was sent, thank you!<br />
				</div>

         </div>


         <aside class="col g-5">

            <h3>Contact Information</h3>

            <p>Our offices operate in normal working hours.</p>

            <p>
            Master Accounting <br />
            121 Lansdowne Street <br />
            Parramatta, NSW 2150
            </p>

            <p>
            Phone: 0 123 456 789 0 <br />
            Email: info [@] masteraccounting.com
            </p><br />

         </aside>

      </div>

   </section> <!-- Contact Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="col g-7">
            <ul class="copyright">
               <li>Copyright &copy; 2013 Master Accounting</li>
            </ul>
         </div>

         <div class="col g-5 pull-right">
            <ul class="social-links">
              <li><a href="#"><%= fa_icon "facebook" %></a></li>
                <li><a href="#"><%= fa_icon "twitter" %></a></li>
                <li><a href="#"><%= fa_icon "google-plus" %></a></li>
                <li><a href="#"><%= fa_icon "linkedin" %></a></li>
                <li><a href="#"><%= fa_icon "skype" %></a></li>
               <li><a href="#"><%= fa_icon "rss" %></a></li>
            </ul>
         </div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="assets/scrollspy.js"></script>
   <script src="assets/jquery.flexslider.js"></script>
   <script src="assets/jquery.reveal.js"></script>
   <script src="assets/init.js"></script>
   <script src="assets/smoothscrolling.js"></script>

  <a href="http://www.styleshout.com/" title="Design by Styleshout"></a>
